<div class="container" style="text-align: center;">
    <img width="500px" length="500px" src="/assets/images/logo.png">
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-6" style="text-align: center; background-color: whitesmoke;">
        
            <h1 style="font-weight:normal;">CharityGO</h1>
            <h5 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">A TRUSTWORTHY COLLABORATIVE SOCIAL MEDIA PLATFORM</h5>
            <h5>for making this world a more better place.</h5>
        
    </div>
    <div class="col-6" style="text-align: center; background-color: wheat;">
      <h1 style="font-weight: 900;">Our Mission</h1>  
      <h2 style="text-orientation: sideways-right;">  "At CharityGO, our aim is to provide you with the best service and user experience by helping you with getting the best search results saving your valuable time. 
        We make sure to provide you with a social experience you would want to trust again."
    </h2>
    </div>
</div>
<br>
    <div class="container" style="text-align: center;">
        <h1 style="font-weight: 500 ;">Contact Us</h1>
        <h3> +92-347-0003412 </h3>
        <h3> Jawad.Hassan@nu.edu.pk </h3>
        <h3> FAST NUCES, AK Brohi Road, Islamabad.</h3>
    </div>
</div>