
<footer class="footer" style="background-color: black">
  <div class="container" style="background-color: black">
      <div class="row mb-5">
          <div class="col-md-4 col-lg-4">
              <h3 class="heading-section">About Us</h3>
              <p class="lead">We at CharityGO help donors and Charity Organizations meet and spread the benefits of Charity. </p>
              <p class="mb-5">Our Aim is to ease the difficulties faced by the people when they are in the process of donation. </p>
              <p><a href="#" class="link-underline">Read  More</a></p>
          </div>
          <div class="col-md-4 col-lg-4">
            <h3 class="heading-section">Reach Us</h3>

            <ul class="list-unstyled list-inline text-center">
              <li class="list-inline-item">
                <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
                  <mdb-icon fab icon="facebook"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
                  <mdb-icon fab icon="twitter"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
                  <mdb-icon fab fab icon="google-plus"></mdb-icon>
                </a>
              </li>

            </ul>
        </div>
        
          <div class="col-md-4 col-lg-4">
              <div class="block-23">
                  <h3 class="heading-section">Get Connected</h3>
                  <ul>
                      <li><span class="icon icon-map-marker"></span><span class="text">FAST NUCES, AK Brohi Road, Islamabad, Pakistan</span></li>
                      <li><a href="#"><span class="icon icon-phone"></span><span class="text">+03415689337</span></a></li>
                      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">i160121@nu.edu.pk</span></a></li>
                  </ul>
              </div>
          </div>


      </div>

  </div>

</footer>

