.footer {
    background: #404040;
    padding: 8em 0;
    color: #fff; }
    .footer .heading-section {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 40px;
      letter-spacing: .1em;
      color: #fff !important;
      font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
    .footer .block-21 .heading a {
      color: #fff !important; }
      .footer .block-21 .heading a:hover {
        color: #f7ca44 !important; }
    .footer .block-21 .meta a {
      color: gray !important; }
      .footer .block-21 .meta a:hover {
        color: #fff !important; }
    .footer a {
      color: #f7ca44; }
      .footer a:hover {
        color: #f7ca44 !important; }
  
  .ftco-footer-social li {
    list-style: none;
    margin: 0 10px 10px 0;
    display: inline-block; }
    .ftco-footer-social li a {
      height: 60px;
      width: 60px;
      display: block;
      float: left;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 50%;
      position: relative; }
      .ftco-footer-social li a span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .ftco-footer-social li a:hover {
        color: #f7ca44; }
  
  .footer-small-nav > li {
    display: inline-block; }
    .footer-small-nav > li a {
      margin: 0 10px 10px 0; }
      .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
        color: #f7ca44; }
  