<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
body {
	color: #fff;
	background: #000000;
	font-family: 'Roboto', sans-serif;
}
.PillList-item {
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 12px 12px 0;
  text-transform: capitalize;
}

.PillList-item input[type="checkbox"] {
  display: none;
}
.PillList-item input[type="checkbox"]:checked + .PillList-label {
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
  padding-right: 16px;
  padding-left: 16px;
}
.PillList-label {
  border: 1px solid #1da1f2;
  border-radius: 20px;
  color: #1c94e0;
  display: block;
  padding: 7px 28px;
  text-decoration: none;
}
.PillList-item
  input[type="checkbox"]:checked
  + .PillList-label
  .Icon--checkLight {
  display: inline-block;
}
.PillList-item input[type="checkbox"]:checked + .PillList-label .Icon--addLight,
.PillList-label .Icon--checkLight,
.PillList-children {
  display: none;
}
.PillList-label .Icon {
  width: 12px;
  height: 12px;
  margin: 0 0 0 12px;
}
.Icon--smallest {
  font-size: 12px;
  line-height: 12px;
}
.Icon {
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  position: relative;
}

.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 450px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}  
</style>
<body>
  <br>
  <br>
  <br>
<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
		<h1 style="text-align: center; color: black; ">Register</h1>
		<p class="hint-text">Select the Project/Campaign types you want to follow. </p>
    <div class="row">
      <div class="col-md-12">
    
        <label class="PillList-item">
      <input type="checkbox" name="feature" value="1">
      <span class="PillList-label">Health
      <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
      </span>
    </label>
        <label class="PillList-item">
      <input type="checkbox" name="feature" value="2">
      <span class="PillList-label">Education
      <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
    
      </span>
    </label>
     <label class="PillList-item">
      <input type="checkbox" name="feature" value="3">
      <span class="PillList-label">Orphanage
      <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
      </span>
    </label>
    <label class="PillList-item">
      <input type="checkbox" name="feature" value="4">
      <span class="PillList-label">Environment
      <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
      </span>
    </label>
    <label class="PillList-item">
      <input type="checkbox" name="feature" value="5">
      <span class="PillList-label">Social Welfare
      <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
      </span>
    </label>
    <label class="PillList-item">
      <input type="checkbox" name="feature" value="5">
      <span class="PillList-label">Other
      <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
      </span>
    </label>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block">Save</button>
  </div>
  <div class="text-center">You can also edit this later <a href="#" style="text-decoration: underline;">Skip</a></div>

      </div>
    </div>
    </form>
</div>
</body>
