<div *ngIf="showTrnsaparent">

  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-stylish-color-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="">
        <img src="/assets/images/logo.png" style="width:75px;height:50px;">
      </a>
    </mdb-navbar-brand>
    <button class="btn sucman" routerLink="/home">Home</button>
    <button class="btn sucman" routerLink="/projects">Projects</button>
    <button class="btn sucman" routerLink="/ngos">NGOs</button>
    <button class="btn sucman" routerLink="/campaigns">Campaign</button>


  </mdb-navbar>

  <router-outlet></router-outlet>
<!--Main Navigation-->



</div>


<div *ngIf="!showTrnsaparent">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-stylish-color-dark scrolling-navbar ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="">
        <img src="/assets/images/whitelogo.png" style="width:95px;height:42px;">
      </a>
    </mdb-navbar-brand>
    <button class="btn sucmanff" routerLink="/home">Home</button>
    <button class="btn sucmanff" routerLink="/projects">Projects</button>
    <button class="btn sucmanff" routerLink="/ngos">NGOs</button>
    <button class="btn sucmanff" routerLink="/campaigns">Campaigns</button>
  </mdb-navbar>


<!--Main Navigation-->



</div>