<div class="container">
  <!--Card-->
  <div class="card card-cascade wider reverse my-4">

    <!--Card image-->
    <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
      <img src="/assets/images/Ethereum-homestead.jpg" class="img-fluid">
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title"><strong>My adventure</strong></h4>
      <h5 class="indigo-text"><strong>Photography</strong></h5>

      <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
      </p>

      <!--Linkedin-->
      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
      <!--Twitter-->
      <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
      <!--Dribbble-->
      <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
      <a class="nav-link" routerLink="../ProjectdetailsTab">PostProject</a>
    </div>
    <!--/.Card content-->

  </div>
  <!--/.Card-->

  <section class="section extra-margins">

    <!--Section heading-->
    <h2 class="section-heading h1 mt-5"><strong>Campaign </strong></h2>
    <!--Section description-->
    <p class="section-description">Select any section of campaign to describe your potential Idea</p>
  </section>
  <div class="row justify-content-center" style="background">

    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">
      <div class="card view overlay hm-blue-strong" routerLink="../ProjectdetailsTab">
 <div class="mask flex-center">
            <p class="white-text">Click to start</p>
          </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Basics</h4>
          <!--Text-->
          <p class="card-text">Add an image, set your funding goal, and more.</p>

        </div>

      </div>
      <hr>
      <div class="card view overlay hm-blue-strong" routerLink="pages/postProject/ProjectdetailsTab">
        <div class="mask flex-center">
          <p class="white-text">Click to start</p>
        </div>
        <!--Card content-->
        <div class="card-body ">
          <!--Title-->
         
          <h4 class="card-title">Rewards</h4>
          <!--Text-->
          <p class="card-text">Set your Rewards and shipping costs</p>

        </div>

      </div>
      <hr>
      <div class="card view overlay hm-blue-strong" routerLink="../ProjectdetailsTab">
        <div class="mask flex-center">
          <p class="white-text">Click to start</p>
        </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Story</h4>
          <!--Text-->
          <p class="card-text">Add a video and detailed project description</p>

        </div>

      </div>
    </div>
  </div>

</div>

