.succmann {
    background-color: #ffce00;
    border-color: #ffce00;
    color: black;
    font-weight: bolder;

}
.succmann:hover {
    background-color: black;
    border-color: black;
    color:#ffce00;
    font-weight: bold;
} 