<div class="row">
    <div class="col-md-2">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <!--Title-->
          <h4 class="card-title">
            <strong>Alice Mayer</strong>
          </h4>
          <h5 class="indigo-text">
            <strong>Photographer</strong>
          </h5>
  
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
  
          <!--Linkedin-->
          <a class="px-2 icons-sm li-ic">
            <mdb-icon fab icon="linkedin-in"> </mdb-icon>
          </a>
          <!--Twitter-->
          <a class="px-2 icons-sm tw-ic">
            <mdb-icon fab icon="twitter"> </mdb-icon>
          </a>
          <!--Dribbble-->
          <a class="px-2 icons-sm fb-ic">
            <mdb-icon fab icon="facebook-f"> </mdb-icon>
          </a>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
  

  

  </div>