
/* Parallax video styles*/
.video-parallax {
  clip: rect(0, 100vw, 700px, 0); /* Change second and third value to manipulate the width and height of your video */
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  visibility: hidden; 
  z-index: -100;
}

.view video {
  position: fixed; 
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
  min-width: 100vw; 
  min-height: 100vh; 
  max-width: none; 
  max-height: none; 
  visibility: visible; 
  z-index: -1
}
