<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"> <img src="/assets/images/whitelogo.png" style="width:101px;height:52px;"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a   routerLink="/" class="nav-link">Home
          <span class="sr-only">(current)</span>
        </a>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a   class="nav-link"  routerLink="/projects" >Projects</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/ngos">NGO</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/campaigns" >Campaigns</a>
      </li>
      <li class="nav-item active">
        
        <a class="nav-link waves-light" routerLink="/campaigns" mdbWavesEffect><mdb-icon fas icon="fa-plus"></mdb-icon> Post Campaign<span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          More<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Connect</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Actions</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">latest Donations</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">log history</a>
        </div>
      </li> -->
      <li class="nav-item active">
        
        <a class="nav-link waves-light" routerLink="/chatbox"mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Chatbox<span class="sr-only">(current)</span></a>
      </li>
     
    </ul>
    <!-- <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form> -->
 
  </links>

  <links>

    <!-- Links -->
   
  

      <!-- Dropdown -->


    
    <!-- Links -->
   
    <ul class="navbar-nav ml-auto nav-flex-icons">
    
      <a href="/initialinformation" mdbBtn color="blue" rounded="true" mdbWavesEffect>Post Project</a>
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" href="#">Edit Profile</a>
              <a class="dropdown-item" href="#">Security</a>
              <a class="dropdown-item" href="#">Portfolio</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log out</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->