<div class="container">
    <div class="md-form input-group mb-3">
        <div class="input-group-prepend">
          <button mdbBtn color="primary" size="md" class="m-0 px-3 py-2" type="button" id="button-addon1"
            mdbWavesEffect>Button</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
          aria-describedby="button-addon1">
      </div>
      
      <div class="md-form input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button mdbBtn color="default" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2"
            mdbWavesEffect>Button</button>
        </div>
      </div>
      
      <div class="md-form input-group mb-3">
        <div class="input-group-prepend" id="button-addon3">
          <button mdbBtn color="secondary" size="md" class="m-0 px-3 py-2" type="button" mdbWavesEffect>Button</button>
          <button mdbBtn color="secondary" size="md" class="m-0 px-3 py-2" type="button" mdbWavesEffect>Button</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons"
          aria-describedby="button-addon3">
      </div>
      
      <div class="md-form input-group">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons"
          aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
          <button mdbBtn color="info" size="md" class="m-0 px-3 py-2" type="button" mdbWavesEffect>Button</button>
          <button mdbBtn color="info" size="md" class="m-0 px-3 py-2" type="button" mdbWavesEffect>Button</button>
        </div>
      </div>
    </div>