<div class="container">
  <!--Card-->
  <div class="card card-cascade wider reverse my-4">

    <!--Card image-->
    <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
      <img src="/assets/images/Ethereum-homestead.jpg" class="img-fluid">
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title"><strong>My adventure</strong></h4>
      <h5 class="indigo-text"><strong>Photography</strong></h5>

      <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
      </p>

      <!--Linkedin-->
      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
      <!--Twitter-->
      <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
      <!--Dribbble-->
      <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
      
    </div>
    <!--/.Card content-->

  </div>
  <!--/.Card-->

  <div class="row justify-content-center">

    <div class="col-6 text-center">
      <section class="section justify-content-center extra-margins">

        <!--Section heading-->
        <h2 class="section-heading h1 mt-5"><strong>Project Type </strong></h2>
        <!--Section description-->
        <p class="section-description">Select any section of campaign to describe your potential Idea</p>
      </section>

    </div>

   
  </div>
 
  <div class="row justify-content-center" >

    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">

      <div class="view overlay"  style="height: 110px;" >
        <mdb-card>
      
          <!--Card content-->
          <mdb-card-body>
        
            <!--Title-->
            <mdb-card-title>
              <h4>Education</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Add an image, set your funding goal, and more
            </mdb-card-text>
        
            <div class="mask flex-center rgba-blue-strong" (click)="onSubmit('education');">
              <p class="white-text">Click to start</p>
            </div>
          </mdb-card-body>
        </mdb-card>
     
        
    </div>


    <hr>
      <hr>
      <div class="view overlay"  style="height: 110px;" >
        <mdb-card>
      
          <!--Card content-->
          <mdb-card-body>
        
            <!--Title-->
            <mdb-card-title>
              <h4>Medical</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Add an image, set your funding goal, and more
            </mdb-card-text>
        
           
          </mdb-card-body>
        </mdb-card>
     
        <div class="mask flex-center rgba-blue-strong" (click)="onSubmit('medical');">
            <p class="white-text">Click to start</p>
        </div>
    </div>
    <hr>
      <hr>
      <div class="view overlay"  style="height: 110px;" >
        <mdb-card>
      
          <!--Card content-->
          <mdb-card-body>
        
            <!--Title-->
            <mdb-card-title>
              <h4>Social</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Add an image, set your funding goal, and more
            </mdb-card-text>
        
           
          </mdb-card-body>
        </mdb-card>
     
        <div class="mask flex-center rgba-blue-strong" (click)="onSubmit('social');">
            <p class="white-text">Click to start</p>
        </div>
    </div>

    </div>
  </div>

</div>

