<div class="container">
  <!--Card-->
  
  <div class="card card-cascade wider reverse my-4">

    <!--Card image-->
    <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
      <img src="https://images.unsplash.com/photo-1580482982890-4caedd6f97ec?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cGlnZ3klMjBiYW5rfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid">
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title"><strong>Your Project Theme</strong></h4>
     

      <p class="card-text">Let us know what your project is all about.
      </p>

      <!--Linkedin-->
      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
      <!--Twitter-->
      <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
      <!--Dribbble-->
      <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
      
    </div>
    <!--/.Card content-->

  </div>
  <!--/.Card-->

  <div class="row justify-content-center">

    <div class="col-6 text-center">
      <section class="section justify-content-center extra-margins">

        <!--Section heading-->
        <h2 class="section-heading h1 mt-5"><strong>Project Type </strong></h2>
        <!--Section description-->
        <p class="section-description">Select any section of project to describe your potential Idea</p>
      </section>

    </div>

   
  </div>
 
  <div class="row justify-content-center" >

    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">

      <div class="view overlay"  style="height: 110px;" >
        <mdb-card>
      
          <!--Card content-->
          <mdb-card-body>
        
            <!--Title-->
            <mdb-card-title>
              <h4>Education</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Pass the light of education to those who are deprived of it
            </mdb-card-text>
        
            <div class="mask flex-center rgba-blue-strong" (click)="onSubmit('education');">
              <p class="white-text">Click to start</p>
            </div>
          </mdb-card-body>
        </mdb-card>
     
        
    </div>


    <hr>
      <hr>
      <div class="view overlay"  style="height: 110px;" >
        <mdb-card>
      
          <!--Card content-->
          <mdb-card-body>
        
            <!--Title-->
            <mdb-card-title>
              <h4>Medical</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Bring smiles on the faces that cry due to poor health
            </mdb-card-text>
        
           
          </mdb-card-body>
        </mdb-card>
     
        <div class="mask flex-center rgba-blue-strong" (click)="onSubmit('medical');">
            <p class="white-text">Click to start</p>
        </div>
    </div>
    <hr>
      <hr>
      <div class="view overlay"  style="height: 110px;" >
        <mdb-card>
      
          <!--Card content-->
          <mdb-card-body>
        
            <!--Title-->
            <mdb-card-title>
              <h4>Other</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Take a stand for the betterment of people and the planet
            </mdb-card-text>
        
           
          </mdb-card-body>
        </mdb-card>
     
        <div class="mask flex-center rgba-blue-strong" (click)="onSubmit('social');">
            <p class="white-text">Click to start</p>
        </div>
    </div>

    </div>
  </div>

</div>

