<div *ngIf="isDataLoaded" class="container mt-5">
    <br>
    <br>
    <div class="row">
        <div class="col-9">

            <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!-- Card content -->
                <mdb-card-body cascade="true" class="text-center">

                    <!--Title-->
                    <mdb-card-title>
                        <h4>
                            <strong>{{project.tittle}}</strong>
                        </h4>
                    </mdb-card-title>

                    <h5 class="indigo-text">
                        <strong>{{project.objective}}</strong>
                    </h5>

                    <mdb-card-text>
                        {{project.descriptionStory}}
                    </mdb-card-text>

                    <!--Linkedin-->
                    <a class="px-2 icons-sm li-ic">
                        <mdb-icon fab icon="linkedin-in"> </mdb-icon>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                        <mdb-icon fab icon="twitter"> </mdb-icon>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                        <mdb-icon fab icon="facebook-f"> </mdb-icon>
                    </a>
                </mdb-card-body>

            </mdb-card>

        </div>
        
        <div class="col-3">
            <mdb-card cascade="true"  reverse="true" class="my-4" style="background-image: url(/assets/images/stat1.jpeg)">
                <mdb-card-body>
                    <mdb-card-title>
                        <h5>Important Figures</h5>
                       
                        <ul class="list-group">
                            <li class="list-group-item">Budget       ${{project.estimatedBudget}}</li>
                            <li class="list-group-item">Received     ${{project.totalDonation}}</li>
                            <li class="list-group-item">Assests      ${{project.collectedDonation}}</li>
                            <li class="list-group-item">Expenses     ${{project.currentExpenses}}</li>
                            <li class="list-group-item">Donors       ${{project.totalDonors}}</li>
                          </ul>
               
                    </mdb-card-title>
             
                 
                </mdb-card-body>
            </mdb-card>
            <mdb-card cascade="true"  reverse="true" class="my-4" style="background-image: url(/assets/images/stat1.jpeg)">
                <mdb-card-body>
                    <mdb-card-title>
                        <h5>Whereabouts</h5>
                       
                        <ul class="list-group">
                            <li class="list-group-item">{{project.country}}</li>
                            <li class="list-group-item">{{project.startDate}}</li>
                            <li class="list-group-item">{{project.expectedEndDate}}</li>
                          </ul>
               
                    </mdb-card-title>
             
                 
                </mdb-card-body>
            </mdb-card>
        </div>
    
        <!--col-md ends here-->
    </div>
</div>
<!--container ends here-->