<div *ngIf="isDataLoaded" class="container mt-5">
    <br>
    <br>
    <div class="row">
        <div class="col-9">

            <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!-- Card content -->
                <mdb-card-body cascade="true" class="text-center">

                    <!--Title-->
                    <mdb-card-title>
                        <h4>
                            <strong>{{project.tittle}}</strong>
                        </h4>
                    </mdb-card-title>

                    <h5 class="indigo-text">
                        <strong>{{project.objective}}</strong>
                    </h5>

                    <mdb-card-text>
                        {{project.descriptionStory}}
                    </mdb-card-text>

                    <!--Linkedin-->
                    <a class="px-2 icons-sm li-ic">
                        <mdb-icon fab icon="linkedin-in"> </mdb-icon>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                        <mdb-icon fab icon="twitter"> </mdb-icon>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                        <mdb-icon fab icon="facebook-f"> </mdb-icon>
                    </a>
                </mdb-card-body>

            </mdb-card>

        </div>


        
        
        <div class="col-3">

        <section class="text-center pb-3 my-5">
            <mdb-card class="pricing-card">

                <!--Content-->
                <mdb-card-body>
                  <mdb-card-title>
                    <h5 class="mt-0 justify-content-center">
                      <strong>Funded</strong>
                    </h5>
                  </mdb-card-title>
                  <!--Price-->
                  <div class="price pt-0">
                    <h2 class="red-text number">${{project.totalDonation}}</h2>
                  </div>
                  <!--Price-->
                  <ul class="striped">
                    <li>
                      <p>
                        <strong>{{project.totalDonors}}</strong> Donors</p>
                    </li>
                    <li>
                      <p>
                        <strong>{{project.estimatedBudget}}</strong> Budget</p>
                    </li>
                    <li>
                      <p>
                        <strong>{{project.collectedDonation}}</strong> Received</p>
                    </li>
                    <li>
                      <p>
                        <strong>{{project.currentExpenses}}</strong> In use</p>
                    </li>
                  </ul>
                  <a href="/signinpage" mdbBtn color="danger" rounded="true" class="mb-0 waves-light" mdbWavesEffect> Donate Now</a>
                </mdb-card-body>
              </mdb-card>
              </section>
              <!--Card-->
   
            <mdb-card cascade="true"  reverse="true" class="my-2" style="background-image: url(/assets/images/stat1.jpeg)">
                <mdb-card-body>
                    <mdb-card-title>
                        <h5>Whereabouts</h5>
                       
                        <ul class="list-group">
                            <li class="list-group-item">{{project.country}}</li>
                            <li class="list-group-item">{{project.startDate}}</li>
                            <li class="list-group-item">{{project.expectedEndDate}}</li>
                          </ul>
               
                    </mdb-card-title>
             
                 
                </mdb-card-body>
            </mdb-card>
        </div>
    
        <!--col-md ends here-->
    </div>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">{{project.tittle}}!</h1>
                <p class="lead">Mehdi Schools is a project about to build a high school in the rural areas of
                    India where people unable to get edcate their children. The High Schools will have all 
                    facilities that a student need to accomplish the basic education. Mehdi Schools is a project 
                    about to build a high school in the rural areas of India where people unable to get edcate 
                    their children. The High Schools will have all facilities that a student need to accomplish
                     the basic education. </p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              
              </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                  <small>Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
              </div>
        </div>
        <div class="col-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                  <small>Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
              </div>
        </div>
        <div class="col-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                  <small>Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
              </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="mx-auto" style="width: 1060px; background-color: cyan;">
       
        <strong> Gallery</strong>
      </div>
      <br>
      <br>
    <div class="row">
            <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail" class="img-thumbnail"
  style="width: 222px">
  <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail" class="img-thumbnail"
  style="width: 222px">
  <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail" class="img-thumbnail"
  style="width: 222px">
  <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail" class="img-thumbnail"
  style="width: 222px">
  <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail" class="img-thumbnail"
  style="width: 222px">

        
    </div>
    <br>
    <br>
    <br>

</div>
<!--container ends here-->