<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Document</title>
  </head>
  <style>
   

     
  .media{
border-bottom:1px solid grey;
border-left: 1px solid grey;
border-right: 1px solid grey;
border-top: 1px solid grey;
padding:10px;
display: flex;
flex-direction: row;

  }
  .media:hover{
    background-color: #ffce00 !important;
  }

  </style>
  <body>
      <br>
      <br>
      <br>
      <br>
      <h1 style="text-align: center;">Campaigns</h1>
    <section>
      <div class="container-fluid mt-5 mb-5">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            
            <ul class="timeline">
              <div class="media">
                <img class="mr-3" src="/assets/123.jpg" height="250" width="250" alt="Generic placeholder image" />
                <div class="media-body">
                  <h5 class="mt-0">1. Never Baack to Home (Corona Event)</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla. Donec lacinia congue felis in
                  faucibus.
                </div>
              </div>

              <div class="media">
                
                <img class="mr-3" src="/assets/123.jpg"  height="150" width="150" alt="Generic placeholder image" />
                <div class="media-body">
                  <h5 class="mt-0">2. Care that Matters Against</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla. Donec lacinia congue felis in
                  faucibus.
                </div>
              </div>
              <div class="media">
                <img class="mr-3" src="/assets/123.jpg"  height="150" width="150" alt="Generic placeholder image" />
                <div class="media-body">
                  <h5 class="mt-0">3. Bringing Forward New Generation</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla. Donec lacinia congue felis in
                  faucibus.
                </div>
              </div>
              <div class="media">
                <img class="mr-3" src="/assets/123.jpg"  height="150" width="150" alt="Generic placeholder image" />
                <div class="media-body">
                  <h5 class="mt-0">4. A new Era of Self Development</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla. Donec lacinia congue felis in
                  faucibus.
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
