<br>
<br>
<br>
<br>
<div class="container">
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="Last Name">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputCNIC" class="col-sm-2 col-form-label">CNIC</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputCNIC" placeholder="CNIC">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputOccupation" class="col-sm-2 col-form-label">Occupation</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputOccupation" placeholder="Occupation">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Enter your Address">
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
      <label for="inputAddress">Country</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Enter your Address">
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
      <div class="form-group col-md-3">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      
      <div class="form-group col-md-3">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputContactNumber" class="col-sm-2 col-form-label">Contact Number</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputContactNumber" placeholder="Contact Number">
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Confirm
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Apply</button>
  </form>
</div>