<div class="mask rgba-blue-light flex-center">

    <div class="container">
        <div class="row">
            <div class="container text-center black-text wow fadeInUp">
                <h2>First, let’s get you set up.</h2>
                <br>
                <p>Pick a project category for the specific domain to 
                    connect with ngo's or charity organizations.</p>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="btn-group" mdbDropdown>
                <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Select your category
                </button>

                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" href="#">Health</a>
                    <a class="dropdown-item" href="#">Education</a>
                    <a class="dropdown-item" href="#">Water</a>
                    <a class="dropdown-item" href="#">Housing</a>
                    <a class="dropdown-item" href="#">Clothes</a>
                    <a class="dropdown-item" href="#">Other</a>
                </div>
            </div>
        </div>
    </div>
</div>