<!-- Main navigation -->
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('https://i.imgur.com/ADN87ov.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="container">
            <!--Grid row-->
            <div class="row mt-5">
              <!--Grid column-->
              <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign in Today! </h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">
                  <strong class="white-text">Our team has contributed to the welfare of around 100000+ children
                    get an education and we plan to make this number 1500000+ by 2021</strong>
              
                </h6>
               
              </div>
              <!--Grid column-->
              <!--Grid column-->
              <div class="col-md-6 col-xl-5 mb-4">
                <!--Form-->
                <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                  <mdb-card-body>
                    <!--Header-->
                  
                    <!--Body-->
                    <div  *ngIf="signinformshow">
                      <form [formGroup]="signInForm" (ngSubmit)="onSignInSubmit()">
                    <div class="md-form">
                      <mdb-icon fas icon="envelope" class="prefix white-text active"></mdb-icon>
                      <input type="text" id="email" formControlName="useremail" class="text-white form-control" mdbInput>
                      <label for="email" class="text-white">Enter Email</label>
                    </div>
                    <div class="md-form">
                      <mdb-icon fas icon="lock" class="prefix text-white active"></mdb-icon>
                      <input type="password" id="userpassword" formControlName="userpassword" class="text-white form-control" mdbInput>
                      <label for="userpassword" class="text-white">Enter Password</label>
                    </div>
                    <div class="text-center mt-4">
                      <button type="submit" mdbBtn color="indigo" mdbWavesEffect>Sign in</button>
                      <hr class="hr-light mb-3 mt-4">
                      <div class="inline-ul text-center d-flex justify-content-center">
                        <a class="p-2 m-2 tw-ic">
                          <mdb-icon fab icon="twitter" class="white-text"></mdb-icon>
                        </a>
                        <a class="p-2 m-2 li-ic">
                          <mdb-icon fab icon="linkedin-in" class="white-text"> </mdb-icon>
                        </a>
                        <a class="p-2 m-2 ins-ic">
                          <mdb-icon fab icon="instagram" class="white-text"> </mdb-icon>
                        </a>
                      </div>
                    </div>
                    <div class= "white-text text-center " >New to CharityGo? <a href="/signuppage" class= "black-text">Sign Up here</a></div>
                    
                    </form>
                    </div>
                  </mdb-card-body>
                </mdb-card>
                <!--/.Form-->
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
      </div>
      <!-- Full Page Intro -->
    <!-- Main navigation -->
  