<!-- Main navigation -->
    <!-- Full Page Intro -->
    <div class="view" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/ADN87ov.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="container">
            <!--Grid row-->
            <div class="row mt-5">
              <!--Grid column-->
              <!--Grid column-->
              <!--Grid column-->
              <div class="col-md-6 col-xl-5 mb-4">
                <!--Form-->
                <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                  <mdb-card-body>
                    <!--Header-->
                  
                    <!--Body-->
                    <div  *ngIf="signinformshow">
                      <form [formGroup]="signInForm" (ngSubmit)="onSignInSubmit()">
                    <div class="md-form">
                      <mdb-icon fas icon="envelope" class="prefix white-text active"></mdb-icon>
                      <input type="text" id="email" formControlName="useremail" class="text-white form-control" mdbInput>
                      <label for="email" class="text-white">Enter Email</label>
                    </div>
                    <div class="md-form">
                      <mdb-icon fas icon="lock" class="prefix text-white active"></mdb-icon>
                      <input type="password" id="userpassword" formControlName="userpassword" class="text-white form-control" mdbInput>
                      <label for="userpassword" class="text-white">Enter Password</label>
                    </div>
                    <div class="text-center mt-4">
                      <button class="btn succmann">Sign in</button>
                      
                    </div>
                    <div class= "white-text text-center " >New to CharityGo? <a href="/signuppage" class= "text" style="color: rgb(73, 73, 233);">Sign Up here</a></div>
                    
                    </form>
                    </div>
                  </mdb-card-body>
                </mdb-card>
                <!--/.Form-->
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
      </div>
      <!-- Full Page Intro -->
    <!-- Main navigation -->
  